.whiteBox {
  background-color: white;
  border-radius: 7px;
}

.greyBackground {
  background-color: #f7f7f7;
}

.roundBorder {
  border-radius: 20px;
}

.rightButton {
  float: right;
}

.changeMovieButton, .changeMovieButton:hover {
  color: #5f2eea;
  border: 1px solid #5f2eea;
  background-color: #eff0f6;
}

.premiereLogo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bottomPurpleButton,
.bottomPurpleButton:hover {
  background-color: #5f2eea;
  border: 2px solid #5f2eea;
  color: white;
  width: 200px;
}

.bottomPurpleButtonOutline,
.bottomPurpleButtonOutline:hover {
  background-color: transparent;
  border: 2px solid #5f2eea;
  color: #5f2eea;
  width: 200px;
  font-weight: bold;
}

.leftCol {
  min-height: 70px;
}

.buttons {
  position: relative;
}

.orderInfoBox {
  position: absolute;
  right: 0;
  top: 0;
}

/* 
.gridHeightMinHeight {
  min-height: 
} */
