.whiteBox {
  background-color: white;
  border-radius: 7px;
}

.greyBackground {
  background-color: #f7f7f7;
}

.roundBorder {
  border-radius: 20px;
}

.leftCol {
  height: 70px;
}

.orderInfoBox {
  position: absolute;
  right: 0;
  top: 0;
}

/* 
.gridHeightMinHeight {
  min-height: 
} */
