.greyBackground {
  background-color: #f5f6f8;
}

.mainContainer {
  padding-bottom: 20px;
}

.whiteBox {
  background-color: #ffffff;
  border-radius: 3px;
}

.boxUpdateImage {
  background-color: transparent;
  color: transparent;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  visibility: visible;
  margin: auto;
  cursor: pointer;
}

.formGroupUploadImage {
  height: 140px;
  border: 1px solid #000;
}

.imgProfile {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
  object-fit: cover;
}

.updateImage {
  background-color: rgba(0, 0, 0, 0.6);
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
  border-radius: 100%;
  cursor: pointer;
}

.uploadImageButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 100px;
  border: none;
}
