.upcomingMovieLists {
  position: relative;
}

.invisibleButton {
  background-color: transparent;
}

.footerLandingCss {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.movieCard {
  cursor: pointer;
}

.purpleText {
  color: #5f2eea;
}

.leftColTexts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
