.upcomingMovieLists {
  position: relative;
  display: flex;
  overflow-x: auto;
}

.invisibleButton {
  background-color: transparent;
}

.footerLandingCss {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.box {
  display: flex;
  min-height: min-content; /* needs vendor prefixes */
}

.movieCard {
  cursor: pointer;
  width: 12rem !important;
}

.purpleText {
  color: #5f2eea;
}

.leftColTexts {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.rightColImageClass {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.moviegoerVanguard {
  border-radius: 8px;
  box-shadow: 0px 16px 32px 0px #bababa4d;
}

.moviegoerForm {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 25rem;
  display: flex;
}

.moviegoerButton {
  width: 10rem;
}

.myFormControl {
  height: 50px;
}

.moviegoerEmail {
  width: 100%;
}
