.fluidWhiteBackground {
  border-radius: 20px;
  background-color: white;
}

.greyBackground {
  background-color: #f5f6f8;
}

.logoCenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.purpleText {
  color: #5f2eea;
}

.bottomPurpleButton,
.bottomPurpleButton:hover {
  background-color: #5f2eea;
  border: 2px solid #5f2eea;
  color: white;
  width: 200px;
}

.bottomPurpleButtonOutline,
.bottomPurpleButtonOutline:hover {
  background-color: transparent;
  border: 2px solid #5f2eea;
  color: #5f2eea;
  width: 200px;
  font-weight: bold;
}

/* 
.personalInfoBox {
  position: absolute;
  right: 0;
  top: 0;
} */
